  .create-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .create-post-form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 70%; 
    background: white;
    padding-top: 2rem;
    border-radius: 30px;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .create-post-form p {
    font-size: 3rem;
    margin-left: 19rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .title-input {
    border: none;
    font-size: 3rem;
    padding-left: 2rem;
    border-radius: 20px;
    width: 100%;
    height: 30%;
    outline: none; 
  }

  .submit-post {
    border: none;
    font-size: 3rem;
    border-radius: 20px;
    width: 100%;
    height: 35%;
    outline: none;
  }

  .create-post-form textarea {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    padding-left: 2rem;
    border-radius: 20px;
    height: 20%;
    outline: none;
  }
  
  .submit-post:hover {
    cursor: pointer;
  }

  .computer-pic {
    height: 45%;
    width: 30%;
  }

  @media (max-width: 415px) {
    .create-post-form {
      width: 90%;
    }
    .create-post-form p {
      font-size: 1rem;
      margin-left: 2rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
    }
    .create-post-form input {
      font-size: 2rem;
    }
    .create-post-form textarea {
      font-size: 1rem;
      margin-top: 0rem;
    }
    .computer-pic {
      width: 90%;
      margin-top: 1rem;
    }
  }
  