@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:wght@400;700&family=Maven+Pro:wght@400;600&family=Pacifico&family=Poppins&display=swap');

.nav-bar-container {
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
  }
  
  .nav-bar-link {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .nav-bar-link:hover {
    color: lightblue;
    text-decoration: underline;
  }
  
  .nav-bar-user-info {
    display: flex;
    align-items: center;
    width: 21%;
    justify-content: space-between;
  }
  
  .nav-bar-username {
    font-size: 1.2rem;
    color: white;
  }
  
  .nav-bar-container img {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    border: 1px solid white;
  }
  
  .sign-out {
    font-size: 1.2rem;
    color: white;
  }
  
  .sign-out:hover {
    color: lightblue;
    text-decoration: underline;
    cursor: pointer;
  }

  .nav-logo {
    width: 20%;
    text-align: center;
  } 

  .left-side {
    display: flex;
    width: 20%;
  }

  .home-link {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 1.5rem;
  }

  .home-link:hover {
    color: lightblue;
    text-decoration: underline;
    cursor: pointer;
  }

  .logo {
    color: white;
    font-family: "Pacifico", cursive;
  }

  @media (max-width: 390px) {
    .nav-bar-container {
      height: 10%;
    }
    .logo {
      font-size: 1.07rem;
    }
}
  